POSTGRES_USER=payments
POSTGRES_PASSWORD=payments123
POSTGRES_DB=payments_db
POSTGRES_HOST=postgres-payments
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
S3_BUCKET=african-payments-pipeline

AIRFLOW_UID=50000
